# Local research responses used while evaluating the unavailable source site.
cc.txt
cdx.json
crt.json
homepage.html
jina-http.txt
jina-https.txt
no-www.headers
no-www.html
robots.headers
robots.txt
root-http.headers
root-http.html
sitemap.headers
sitemap.xml
wayback1.headers
wayback1.html
wayback2.headers
wayback2.html
pages.html
