# Local research responses used while evaluating the unavailable source site.
cc.txt
cdx.json
crt.json
homepage.html
jina-http.txt
jina-https.txt
no-www.headers
no-www.html
robots.headers
root-http.headers
root-http.html
sitemap.headers
wayback1.headers
wayback1.html
wayback2.headers
wayback2.html
pages.html
facebook.html
facebook-photos.html
facebook-albums.html
fb-mobile.html
fb-skphotos.html
fb-basic.html
fb-id-photos.html
cylex.html
prohealth.html
krs.html
